html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #161616;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(80, 80, 80);
}

::-webkit-scrollbar-button {
    background-color: rgb(50, 50, 50);
}

::-webkit-scrollbar-corner {
    background-color: #161616;
}

p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Consolas', 'Arial', 'sans-serif';
    font-size: 13px;
    color: white;
    background-color: #161616;
}

.background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    filter: blur(8px);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./bg.png');
}

.backgroundCover {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.7);
}

.RS-logConsole {
    overflow-y: auto;
    white-space: normal;
    max-width: 100%;
    max-height: calc(100% - 65px);
    color: white;
}

.RS-commandField {
    width: -webkit-calc(100% - 12px);
    padding: 6px;
    position: fixed;
    bottom: 0;
    left: 0;

    font-size: 12px;
    font-family: '맑은 고딕';

    border: none;
}

.RS-commandField:focus {
    outline: none;
    box-shadow: 0 0 24px #9ecaed;
}

.RS-commandField::placeholder {
    color: rgb(30, 30, 30);
    opacity: 1;
}

.RS-status {
    width: 100%;
    height: 32px;
    background-color: #1d1d1d;
}

.RS-status-icon {
    width: 16px;
    height: 16px;
    transition: all ease 0.5s;
    display: inline-block;
    border-radius: 50%;
    margin: 8px;
    margin-right: 4px;
}

.RS-status-CPU {
    position: relative;
    width: 130px;
    height: 20px;
    margin-top: 6px;
    margin-right: 6px;
    border-radius: 8px;
    float: right;
    overflow: hidden;
    background-color: #3a3a3a;
}

.RS-status-CPUInner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f92a66;
    transition: all ease 0.3s;
}

.RS-status-CPUText {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 10px;
    text-align: center;
    padding-top: 1px;
    text-shadow: 0 0 6px black;
}

.RS-status-CPUText:after {
    content: attr(data-cpu);
    font-size: 13px;
}

.RS-status-clientCount {
    position: relative;
    width: 130px;
    height: 20px;
    margin-top: 6px;
    margin-right: 6px;
    border-radius: 8px;
    float: right;
    overflow: hidden;
    background-color: #3a3a3a;
}

.RS-status-clientCountInner {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #00b1b7;
    transition: all ease 0.3s;
}

.RS-status-clientCountText {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 10px;
    text-align: center;
    padding-top: 1px;
    text-shadow: 0 0 6px black;
}

.RS-status-clientCountText:after {
    content: attr(data-count);
    font-size: 13px;
}

.RS-status-RAM {
    position: relative;
    width: 130px;
    height: 20px;
    margin-top: 6px;
    margin-right: 6px;
    border-radius: 8px;
    float: right;
    overflow: hidden;
    background-color: #3a3a3a;
}

.RS-status-RAMInner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9649ff;
    transition: all ease 0.3s;
}

.RS-status-RAMText {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 10px;
    text-align: center;
    padding-top: 1px;
    text-shadow: 0 0 6px black;
}

.RS-status-RAMText:after {
    content: attr(data-ram);
    font-size: 13px;
}

.RS-status-serverName {
    font-size: 15px;
    margin-top: 6px;
    margin-left: 6px;
    display: inline-block;
    position: absolute;
    font-family: '맑은 고딕';
}

.online {
    background-color: #49ffc2;
}

.offline {
    background-color: #ff4949;
}

.RS-logItem {
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.RS-logItem.logLevel-0 {}

.RS-logItem.logLevel-1 {
    color: white;
    background-color: #af3600;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.55);
}

.RS-logItem.logLevel-2 {
    color: white;
    background-color: #840000;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.55);
}

.RS-logItem.logLevel-3 {
    color: cyan;
}

.RS-logItem.logLevel-4 {
    color: white;
    background-color: #003046;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.55);
}

.RS-logItem.logLevel-5 {
    color: white;
    background-color: #2f1b61;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.55);
}

.RS-logItem.logLevel-6 {
    color: white;
    background-color: #61371b;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.55);
}