<!--
	ReguStreaming
	Copyright 2018. ReguMaster all rights reserved.
-->

<!DOCTYPE html>

<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="icon" href="/favicon.ico">

        <meta name="robots" content="noindex" />

        <title>레그 스트리밍 | 관리자</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/util.js"></script>
        <script src="/javascripts/admin.js"></script>

        <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>

    <body class="body administrator">
        <div class="logConsole" id="logConsole">

        </div>
        <input type="text" name="chat" class="reguTextField executeCommandField" id="executeCommandField" placeholder="Type command ..." autofocus />
    </body>

</html>
