<!--
	ReguStreaming
	Copyright 2018. ReguMaster all rights reserved.
-->

<!DOCTYPE html>

<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="icon" href="/favicon.ico">

        <meta name="robots" content="noindex" />

        <title>레그 스트리밍</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <style>
        body {
            margin: 0;
            font-family: "Segoe UI", sans-serif;
            cursor: default;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
        }

        section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
        }

        #title {
            font-weight: bold;
            font-size: 25px;
            margin: 0;
        }

        #reason {
            font-size: 15px;
            margin: 12px;
        }

        </style>
        <script>
        window.onload = function( )
        {
            switch ( <%= code %> )
            {
                case 404:
                    document.getElementById( "reason" ).innerText = "Not Found";
                    break;
                case 403:
                    document.getElementById( "reason" ).innerText = "Forbidden";
                    break;
                case 500:
                    document.getElementById( "reason" ).innerText = "Service Error";
                    break;
            }
        }

        </script>
    </head>

    <body>
        <section>
            <p id="title">
                <%= code %>
            </p>
            <p id="reason"></p>
        </section>
    </body>

</html>
