<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="favicon/icon.ico">
		
        <title>레그 스트리밍</title>
		<script src="/socket.io/socket.io.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="javascripts/bootstrap-notify.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
		<script>
			var socket = io();
			var audio;
			
			var src;
			var analyser;
			var context;
			var renderFlag = false;
			
			var musicPositionElement;
			var elements = [
				title = null,
				artist = null,
				pos = null,
				bg = null,
				bgBuffer = null,
				clientsDesc = null,
				blurBG = null,
				textContainer = null,
				agreeContainer = null,
				agreeButton = null
			];
			
			var bufferLength;
			var dataArray;
			
			var canvas;
			var ctx;

				//ctx.imageSmoothingEnabled = true;
				
				
				
				

			var WIDTH = 0
			var HEIGHT =0

			var barWidth = 0
			var barHeight;
			var x = 0;
			var onLoaded = false;
				
			window.onload = function( )
			{
				elements.title = $( "#musicTitle" );
				elements.artist = $( "#musicArtist" );
				elements.pos = $( "#musicPosition" );
				elements.clientsDesc = $( "#clientsDesc" );
				<!-- elements.pos = document.getElementById( "musicPosition" ); -->
				
				elements.bg = $( "#backgroundCover" );
				elements.bgBuffer = $( "#backgroundBufferCover" );
				elements.agreeContainer = $( "#agreeContainer" );
				elements.agreeButton = $( "#agreeConnectButton" );
				
				elements.blurBG = $( "#blurBackground" );
				elements.textContainer = $( "#mainTextContainer" );
				
				canvas = document.getElementById("canvas");
				canvas.width = window.innerWidth;
				canvas.height = window.innerHeight;
				ctx = canvas.getContext("2d");
				
				WIDTH = window.innerWidth;
				HEIGHT = window.innerHeight;

				barWidth = (WIDTH / bufferLength) * 2;
				x = 0;
				
				<!-- if (window.Notification) { -->
					<!-- Notification.requestPermission(); -->
				<!-- } -->
				//http://untitledtblog.tistory.com/107 [Untitled]
				
				elements.blurBG.hide( );
				elements.textContainer.hide( );
					
				elements.agreeContainer.css( "opacity", "0" );
				elements.agreeContainer.animate( { opacity: "1" }, 1000 );
				
				elements.agreeButton.on( "click", function( )
				{
					socket.emit( "join", {
						name: makeRandomName( ),
						userid: "test"
					} );
					
					elements.clientsDesc.show( );
					
					elements.agreeContainer.css( "animation", "agreeContainerFadeOut 1s" );
					elements.agreeContainer.animate( { opacity: "0" }, 1000, function( )
					{
						elements.agreeContainer.hide( );
					} );
				} );
				
				$('#mainTitle').click(function() {
location.reload();
});
				
				onLoaded = true;
			}
			
			function notify(title, text) {
				if (Notification.permission !== 'granted') {
					console.log( "alert false");
					return;
				}
				else {
					var notification = new Notification(title, {
						icon: 'favicon/icon.png',
						body: text,
					});
	 
					notification.onclick = function () {
						
					};
				}
			}
			
			socket.on( "join", function( data ) {
				if ( typeof elements.clientsDesc === "undefined" )
					elements.clientsDesc = $( "#clientsDesc" );
				
				elements.clientsDesc.html( data + "명의 사람들과 같이 듣는 중." );
				
				elements.clientsDesc.css( "opacity", "0" );
				elements.clientsDesc.animate( { opacity: "1" }, 1000 );
			} );
			
			socket.on( "disconnect", function( data )
			{
				console.log("disconnected!");
				
				$.notify( {
					icon: "glyphicon glyphicon-warning-sign",
					title: "서버 연결 오류 : ",
					message: "서버와의 연결이 끊겼습니다, 다시 접속하세요."
					},
					{
					allow_dismiss: false,
					type: "danger",
					placement: {
						from: "top",
						align: "center"
					},
					animate: {
						enter: "animated fadeInDown",
						exit: "animated fadeOutUp"
					},
					timer: 0
				} );
			} );
			
			socket.on( "music_define", function( data ) {
				if ( typeof audio === "undefined" )
				{
					audio = new Audio( );
					audio.controls = false;
					audio.loop = false;
					audio.autoplay = false;
					audio.preload = "auto";
					audio.pause( );
					audio.volume = 0.5;
					
					if ( typeof elements.pos === "undefined" )
						elements.pos = $( "#musicPosition" );
					
					audio.addEventListener( "timeupdate", function( )
					{
						elements.pos.html( formattime( audio.currentTime ) + " / " + formattime( audio.duration ) );
					}, false );
				}
				
				audio.src = data.musicDir;
				audio.currentTime = data.musicPos;
				
				if ( src == null && analyser == null )
				{
					context = new AudioContext();
					src = context.createMediaElementSource(audio);
					analyser = context.createAnalyser();
					
					src.connect(analyser);
					analyser.connect(context.destination);
					analyser.fftSize = 1024;
					
					init();
					renderFrame();
				}
				
				if ( !elements.blurBG.is( ":visible" ) )
				{
					elements.blurBG.show( );
					elements.blurBG.css( "opacity", "0" );
					elements.blurBG.animate( { opacity: "1" }, 1000, function( )
					{
						<!-- elements.agreeContainer.hide( ); -->
					} );
				}
					
				if ( !elements.textContainer.is( ":visible" ) )
				{
				
					elements.textContainer.show( );
					elements.textContainer.css( "opacity", "0" );
					elements.textContainer.animate( { opacity: "1" }, 1000, function( )
					{
						<!-- elements.agreeContainer.hide( ); -->
					} );
				}
				
				elements.title.animate( { opacity: "0" }, 1000, function( )
				{
					elements.title.animate( { opacity: "1" }, 1000 );
					
					elements.title.html( data.musicName );
				} );
				
				elements.artist.animate( { opacity: "0" }, 1000, function( )
				{
					elements.artist.animate( { opacity: "1" }, 1000 );
					
					elements.artist.html( data.musicArtist );
				} );
				
				elements.pos.animate( { opacity: "0" }, 1000, function( )
				{
					elements.pos.animate( { opacity: "1" }, 1000 );
				} );
				
				
				
				
				
				
				elements.bgBuffer.css( "backgroundImage", elements.bg.css( "backgroundImage" ) );
				elements.bg.css( "backgroundImage", "url( '" + data.musicCover + "' )" );
				elements.bgBuffer.css( "opacity", "1" );
				elements.bgBuffer.animate( { opacity: "0" }, 500 );
				
				<!-- $( "#bgCover" ).css( "backgroundImage", "url( '" + data.musicCover + "' )" ); -->
				<!-- $( "#bgCover" ).css( "opacity", "0" ); -->
				<!-- $( "#bgCover" ).animate( { opacity: "1" }, 500 ); -->
				
				notify( "음악 재생", data.musicArtist + " - " + data.musicName );
			});
			
			socket.on( "music_play", function( data ) {
				if ( audio != null )
				{
					audio.play();
				}
			});
			
			socket.on( "music_setpos", function( data ) {
				if ( audio != null )
				{
					audio.currentTime = data.pos;
				}
			});
			
			socket.on( "music_replay", function( data ) {
				if ( audio != null )
				{
					audio.currentTime = 0;
					audio.play();
				}
			});
			
			function makeRandomName(){
				var name = "";
				var possible = "abcdefghijklmnopqrstuvwxyz";
				
				for( var i = 0; i < 3; i++ ) {
					name += possible.charAt(Math.floor(Math.random() * possible.length));
				}
			
				return name;
			}
			
			function resize_canvas() {
					canvas.width  = window.innerWidth;
					canvas.height = window.innerHeight;
			}
			
			
				
			function init( )
			{
				bufferLength = analyser.frequencyBinCount;
				dataArray = new Uint8Array(bufferLength);
				
				barWidth = (WIDTH / bufferLength) * 1.5;
			}
			
			var dataArrayEight = new Uint8Array(8);
			
			function renderFrame() {
				
				
				 requestAnimationFrame(renderFrame);
				 
				 if ( !onLoaded )
				{
					console.log( "onLoaded is false!");
					return;
				}
				
				resize_canvas();
				  
				  x = 0;
					x2= WIDTH;
				  analyser.getByteFrequencyData(dataArray);
				  
				  
				  
				  //ctx.fillStyle = "#000";
				ctx.clearRect(0, 0, WIDTH, HEIGHT);

				var average = 0;
				var count = 0;
				
				for ( var i = 0; i < 8; i++ )
				{
					var average = 0;
					var sampleCount = Math.pow( 2, i ) * 2;
					
					if ( i == 7 ) sampleCount += 2;
					
					for ( var j = 0; j < sampleCount; j++ )
					{
						average += dataArray[ count ] * ( count + 1 );
						count++;
					}
					
					average /= count;
					dataArrayEight[ i ] = average*5;
				}
				
					var per = 100+( average / count );
					elements.bg.css( "backgroundSize", per + "% " + per + "%");
				
				  for (var i = 0; i < bufferLength; i++) {
					barHeight = dataArray[i]*0.5;
					
					var r = 200;
					var g = 200;
					var b = 200;
					var a =	( barHeight / (HEIGHT / 2 )) ;

					ctx.fillStyle = "rgba(" + r + "," + g + "," + b + ", " + a + ")";
					ctx.fillRect(x, HEIGHT - barHeight, barWidth, barHeight);
					
					<!-- ctx.fillStyle = "rgba(" + r + "," + g + "," + b + ", " + a + ")"; -->
					<!-- ctx.fillRect(x2, 0, barWidth, barHeight); -->

					x += barWidth + 5;
					<!-- x2 -= barWidth + 5; -->
					average += dataArray[i];
				  }
				}

			String.prototype.toMMSS = function () {
				var sec_num = parseInt(this, 10); // don't forget the second param
				var hours   = Math.floor(sec_num / 3600);
				var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
				var seconds = sec_num - (hours * 3600) - (minutes * 60);

				if (hours   < 10) {hours   = "0"+hours;}
				if (minutes < 10) {minutes = "0"+minutes;}
				if (seconds < 10) {seconds = "0"+seconds;}
				return minutes+':'+seconds;
			}
			
			function formattime(numberofseconds){    
				var zero = '0', hours, minutes, seconds, time;

				time = new Date(0, 0, 0, 0, 0, numberofseconds, 0);

				mm = time.getMinutes();
				ss = time.getSeconds();

				// Pad zero values to 00
				mm = (zero+mm).slice(-2);
				ss = (zero+ss).slice(-2);

				time = mm + ':' + ss
				return time; 
			}

			

		</script>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	</head>
	<body>
		<div id="backgroundCover"></div>
			<div id="backgroundBufferCover"></div>
				<div id="cover">
					<div id="header">
						<font id="mainTitle">Regu Streaming</font>
						<font id="clientsDesc">0명의 사람들과 같이 듣는 중.</font>
					</div>
					
					
					<div id="blurBackground" style="display: none;"></div>
					
					<div id="agreeContainer">
						<p id="agreeContainerTitle">ReguStreaming에 오신 것을 환영합니다!</p>
						<button type="button" class="btn btn-default" id="agreeConnectButton">접속</button>
					</div>
					
					
					<div id="mainTextContainer" style="display: none;">
						<font id="musicTitle">Music Title</font>
						<font id="musicArtist">Music Artist</font>
						
						<p id="musicPosition">Music Pos / Max</p>
					</div>
				
				</div>
				
				<canvas id="canvas" style="position:absolute; top:0%; left:0px; z-index:0"></canvas>
		
	</body>
</html>