<!--
	ReguStreaming
	Copyright 2018. ReguMaster all rights reserved.
-->

<!DOCTYPE html>

<html lang="ko">

    <head>
        <script src="/javascripts/root.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <meta property="og:locale" content="ko_KR">
        <meta property="og:type" content="website">
        <meta property="og:title" content="레그 스트리밍 | 커뮤니케이션을 위한 최고의 방법">
        <meta property="og:description" content="레그 스트리밍에서 커뮤니케이션을 위한 최고의 방법을 확인하세요, 여러 사람들과 같이 음악 또는 영상을 같이 듣고 실시간으로 커뮤니케이션 하세요.">
        <meta property="og:url" content="https://regustreaming.oa.to/">

        <title>레그 스트리밍</title>
        <meta name="description" content="레그 스트리밍에서 커뮤니케이션을 위한 최고의 방법을 확인하세요, 여러 사람들과 같이 음악 또는 영상을 같이 듣고 실시간으로 커뮤니케이션 하세요." />
        <meta name="keywords" content="스트리밍,레그,커뮤니케이션,채팅,소통,대화" />

        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="icon" href="/favicon.ico">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
        <!-- <script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
-->

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="/javascripts/external/bootstrap-notify.min.js"></script>
        <!-- <script src="//code.jquery.com/ui/1.10.0/jquery-ui.js"></script> -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

        <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/hover.min.css">
        <script src="/javascripts/util.js"></script>
        <script src="/javascripts/base.js"></script>
        <script src="/javascripts/main.js"></script>
        <!-- <script src="/javascripts/external/snow.js"></script> -->

        <script src="//www.google.com/recaptcha/api.js"></script>
        <style>
            .tooltipUI {
            background-color: rgba(235, 235, 235, 0.95);
        }

        .ui-tooltip {
            padding: 6px;
            position: absolute;
            z-index: 9999;
            max-width: 600px;
            -webkit-box-shadow: 0 0 5px #aaa;
            box-shadow: 0 0 5px #aaa;
            font-size: 13px;
        }

        body .ui-tooltip {
            border-width: 2px;
        }
        </style>
    </head>
    <script>
        $( function( )
    {
        $( document ).tooltip(
        {
            tooltipClass: 'tooltipUI',
            content: function( callback )
            {
                callback( $( this ).prop( 'title' ) );
            }
        } );
    } );

    $( window ).on( "load", function( )
    {
        $( ".processBackground" ).animate(
        {
            opacity: "0"
        }, 300, function( )
        {
            $( this ).hide( );
        } )
    } );

    reguStreaming.afterLoad = function( )
    {
        // reguStreaming.discordRecommendModalContainerStatus( "<%=discordRecommend%>" === "1" );
    }
    </script>

    <body>
        <video loop autoplay muted width="100%" height="100%" class="backgroundVideo" id="backgroundVideo">
            <source src="/videos/bg_snow.mp4" type="video/mp4" />
        </video>
        <!-- <div class="background" id="background"></div> -->
        <div class="backgroundCover" id="backgroundCover"></div>
        <div class="processBackground"></div>

        <noscript>
            <p style="color: white; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; height: 100px; text-align: center; font-size: 15px;">
                <span class="glyphicon glyphicon-exclamation-sign" style="font-size: 32px; display: block; margin-bottom: 16px;"></span> 이 사이트의 기능을 모두 활용하기 위해서는 자바스크립트를 활성화 시킬 필요가 있습니다.
                <br />
                <a href="http://www.enable-javascript.com/ko/" target="_blank">브라우저에서 자바스크립트를 활성화하는 방법</a>을 참고 하세요.</p>
        </noscript>

        <div class="modal modal-center fade" data-backdrop="static" data-keyboard="false" id="dialogModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-center" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="glyphicon glyphicon-exclamation-sign modal-icon"></span>
                        <p class="modal-title"></p>
                    </div>

                    <div class="modal-body"></div>

                    <div class="modal-recaptcha" style="display: none; padding: 15px; padding-top: 0px;">
                        <div class="g-recaptcha" data-sitekey="6Lee5WoUAAAAAAf19VrCb23MviXJM2DWekkINaEL" data-callback="onRecaptcha"></div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="dialogModalClose" data-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-primary" id="dialogModalConfirm" data-dismiss="modal">확인</button>
                    </div>
                </div>
            </div>
        </div>

        <!--
        <div class="dialogModal" id="discordRecommendModal" style="display: none;">
            <div class="dialogModal-header">
                <p class="dialogModal-header-title">
                    Discord 커뮤니티 안내
                </p>
            </div>

            <p class="containerMiddleText">레그 스트리밍 공식 Discord 서버에 접속하십시오.</p>
            <p class="containerSmallText">
                레그 스트리밍 서비스와 Discord 서비스는 서로 연동됩니다,
                <br />원활한 서비스를 위해 접속하세요!
            </p>

            <center>
                <iframe style="margin-top: 8px;" src="https://discordapp.com/widget?id=465562203286929408&theme=dark" width="420" height="300" allowtransparency="true" frameborder="0"></iframe>
            </center>

            <button type="button" class="btn btn-default discordRecommendModalClose" onclick="reguStreaming.discordRecommendModalContainerStatus( false );">닫기</button>
        </div>
        -->

        <div class="header" id="header">
            <div class="header-serviceStatusFloating selectable" id="headerServiceStatusFloating" style="display: none;" onclick="reguStreaming.toggleServiceNotificationStatus( );">
                <span class="glyphicon glyphicon-exclamation-sign" style="color: white; font-size: 15px; top: -1px;"></span>
                <p class="header-serviceStatusFloating-message">현재 서비스를 이용하실 수 없습니다, 이곳을 눌러 공지사항을 참고하세요.</p>
            </div>

            <img src="images/logo.png" class="header-logo" alt="Logo" onclick="window.location = '/';" />
            <img src="images/service/warning.png" alt="Service Status" id="headerServiceStatus" style="display: none;" class="hvr-grow header-serviceStatus" onclick="reguStreaming.toggleServiceNotificationStatus( );" />

            <!-- <div class="header-buttonList">
                <div class="header-button">
                    <a href="https://discord.gg/sFxRZBC" target="_blank"><p class="header-button-text">커뮤니티</p></a>
                </div>

                <div class="header-button">
                    <a href="https://discord.gg/sFxRZBC" target="_blank"><p class="header-button-text">공지사항</p></a>
                </div>
            </div> -->

            <div class="header-serviceNotification" id="headerServiceNotification"></div>

            <div class="header-loginInformation" id="headerLoginInformation">
                <img class="header-loginInformation-logout" id="headerLoginInformationLogout" src="/images/icon/logout_64.png" alt="Logout" title="레그 스트리밍에서 로그아웃합니다." onclick="reguStreaming.logout( );" />
                <img class="header-loginInformation-profileImage" id="headerLoginInformationProfileImage" src="/images/avatar/guest_64.png" alt="Profile Image" />
                <p class="header-loginInformation-profileName" id="headerLoginInformationProfileName">불러오는 중 ...</p>
                <p class="header-loginInformation-profileProvider" id="headerLoginInformationProfileProvider">손님 계정</p>
                <div class="header-loginInformation-profileCredit" id="headerLoginInformationProfileCredit">
                    <span class="glyphicon glyphicon-flash header-loginInformation-profileCredit-icon"></span>
                    <p class="header-loginInformation-profileCredit-text" id="headerLoginInformationProfileCreditText">0 크레딧</p>
                </div>
            </div>

            <div class="header-login" id="headerLogin">
                <div class="header-login-button steam" title="스팀 계정을 사용해서 로그인합니다." data-provider="steam"></div>
                <div class="header-login-button twitter" title="트위터 계정을 사용해서 로그인합니다." data-provider="twitter"></div>
                <div class="header-login-button naver" title="네이버 계정을 사용해서 로그인합니다." data-provider="naver"></div>
                <div class="header-login-button google" title="구글 계정을 사용해서 로그인합니다." data-provider="google"></div>
                <div class="header-login-button kakao" title="카카오 계정을 사용해서 로그인합니다." data-provider="kakao"></div>
                <button type="button" class="btn btn-default header-login-button guest" title="손님 계정으로 로그인합니다." data-provider="guest">손님 계정 로그인</button>
                <p class="header-login-guestText" id="headerLoginGuestText">또는</p>
            </div>
        </div>

        <div class="roomListContainer" id="roomListContainer">
            <div class="roomListContainer-list" id="roomListContainerList"></div>
            <div class="roomListContainer-refreshHelp" id="roomListContainerRefreshHelp" style="display: none;">
                <span class="glyphicon glyphicon-refresh roomListContainer-refreshHelp-icon rotating-normal"></span>
                <p class="roomListContainer-refreshHelp-text" id="roomListContainerRefreshHelpText">30초 후에 다시 불러옵니다.</p>
            </div>
            <div class="roomListContainer-loginRequired" id="roomListContainerLoginRequired">
                <img src="/images/icon/empty.png" alt="Empty" class="roomListContainer-loginRequired-icon" />
                <p class="roomListContainer-loginRequired-text">레그 스트리밍에 접속하시려면 로그인이 필요합니다.</p>
            </div>
        </div>

        <footer>
            <img src="/images/icon/discord_64.png" alt="Discord" class="footerCommunityDiscord" title="레그 스트리밍의 공식 디스코드 서버에 접속합니다." onclick="window.open( 'https://discord.gg/sFxRZBC', '_blank' );" />

            <!-- <div class="footerCommunityKakao" id="plusfriend-addfriend-button"></div> -->
            <div class="footerCommunityKakaoChat" id="plusfriend-chat-button" data-plusfriend-id="_xcLqmC" data-title="consult" data-size="small" data-color="mono" data-shape="pc" data-support-multiple-densities="true"></div>
            <script type='text/javascript'>
            //<![CDATA[
            // 사용할 앱의 JavaScript 키를 설정해 주세요.
            Kakao.init( "facfd2e2bb635518c7898f9b4fe536a1" );
            // 플러스친구 친구추가 버튼을 생성합니다.
            // Kakao.PlusFriend.createAddFriendButton(
            // {
            //     container: '#plusfriend-addfriend-button',
            //     plusFriendId: '_euNKj' // 플러스친구 홈 URL에 명시된 id로 설정합니다.
            // } );

            Kakao.PlusFriend.createChatButton(
            {
                container: '#plusfriend-chat-button',
                plusFriendId: '_euNKj' // 플러스친구 홈 URL에 명시된 id로 설정합니다.
            } );
            //]]>
            </script>

            <p class="footerTitle">Copyright 2019. <a href="https://github.com/ReguMaster" target="_blank">ReguMaster</a> all rights reserved.</p>
        </footer>
    </body>

</html>