/*
	ReguStreaming
	Copyright 2018. ReguMaster all rights reserved.
*/

.header-buttonList {
    display: flex;
    position: absolute;
    top: 92px;
    left: 128px;
    height: 42px;
    align-items: center;

}

.header-button {
    margin-right: 32px;
}

.header-button-text {
    font-size: 13px;
}

@-webkit-keyframes rotating

/* Safari and Chrome */
    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating-normal {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

.processBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 50;
    display: block;

    background-image: url("/images/msg.gif");
    background-size: 64px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 50%;
    background-color: rgba(0, 0, 0, 0.3);
}

.discordRecommendModal {
    width: 450px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin: auto;

    background-color: rgba(235, 235, 235, 1);
    display: block;
    border-radius: 10px;
}

.discordRecommendModalTitleBar {
    top: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: 42px;
    position: absolute;
    background-color: rgba(73, 161, 255, 1);
}

.discordRecommendModalTitleText {
    margin: 12px;
    font-size: 15px;
    color: white;
    text-shadow: 0px 0px 12px rgba(100, 100, 100, 0.7);
}

.discordRecommendModalClose {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.header-logo {
    position: fixed;
    top: 64px;
    left: 64px;
    cursor: pointer;
}

@keyframes headerServiceStatusInfo {
    0% {
        transform: scale(1);
    }

    50% {
        box-shadow: 0px 0px 16px rgb(56, 110, 156);
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes headerServiceStatusWarning {
    0% {
        transform: scale(1);
    }

    50% {
        box-shadow: 0px 0px 16px rgb(255, 141, 58);
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes headerServiceStatusDanger {
    0% {
        transform: scale(1);
    }

    50% {
        box-shadow: 0px 0px 16px rgb(202, 64, 61);
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.header-serviceStatus {
    position: fixed;
    width: 32px;
    height: 32px;
    top: 68px;
    left: 290px;
    cursor: pointer;
    border-radius: 50%;
    /* animation-iteration-count: infinite;
    animation-direction: alternate;
    animation: serviceStatusIconAnimate 1s infinite; */
}

.header-serviceNotification {
    position: fixed;
    width: 350px;
    top: 128px;
    left: 131px;
    border-radius: 12px;
    background-color: rgba(235, 235, 255, 1);
    z-index: 10;
    display: none;
}

.header-serviceNotification[data-highesttype="info"]:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-bottom-color: rgb(56, 110, 156);
    border-top: 0;
    margin-left: -16px;
    margin-top: -16px;
}

.header-serviceNotification[data-highesttype="warning"]:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-bottom-color: rgb(255, 141, 58);
    border-top: 0;
    margin-left: -16px;
    margin-top: -16px;
}

.header-serviceNotification[data-highesttype="danger"]:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-bottom-color: rgb(202, 64, 61);
    border-top: 0;
    margin-left: -16px;
    margin-top: -16px;
}

.header-serviceStatusFloating {
    width: 100%;
    padding: 6px;
    background-color: rgb(255, 58, 58);
    box-shadow: 0px 0px 32px rgb(255, 58, 58);
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.header-serviceStatusFloating-message {
    font-size: 13px;
    margin-left: 8px;
}

@keyframes serviceNotificationFadeIn {

    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes serviceNotificationFadeOut {
    20% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -35px, 0);
        transform: translate3d(0, -35px, 0);
    }
}

.header-serviceNotification-item {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.header-serviceNotification-item-title {
    font-size: 13px;
    padding: 8px;
    padding-left: 12px;
    margin: 0;
    background-color: rgba(255, 141, 58);

    /* border-top-left-radius: 12px;
    border-top-right-radius: 12px; */
}

.header-serviceNotification-item-message {
    font-size: 13px;
    color: rgb(25, 25, 25);
    padding: 12px;
    margin: 0;
}

.footerTitle {
    position: absolute;
    font-size: 13px;
    left: 0;
    right: 0;
    bottom: 12px;
    text-align: center;
    color: rgb(235, 235, 235);
}

.footerCommunityDiscord {
    width: 36px;
    height: 36px;
    left: 12px;
    bottom: 12px;
    position: fixed;
    cursor: pointer;
    z-index: 1;
}

.footerCommunityKakao {
    left: 64px;
    bottom: 13px;
    position: fixed;
    cursor: pointer;
    z-index: 1;
}

.footerCommunityKakaoChat {
    left: 64px;
    bottom: 4px;
    position: fixed;
    cursor: pointer;
    z-index: 1;
}


.footerCommunityGithub {
    width: 36px;
    height: 36px;
    left: 12px;
    bottom: 12px;
    position: fixed;
    cursor: pointer;
    z-index: 1;
}

.roomListContainer-loginRequired {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    display: none;
}

.roomListContainer-loginRequired-icon {
    top: 0;
    bottom: 82px;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

.roomListContainer-loginRequired-text {
    font-size: 17px;
    color: white;
    top: 16px;
    bottom: 0;
    position: absolute;
    margin: auto;
    text-align: center;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
    width: 100%;
    height: 24px;
}

.roomListContainer-refreshHelp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.roomListContainer-refreshHelp-icon {
    color: rgb(230, 230, 230);
    font-size: 12px;
    top: -1px;
}

.roomListContainer-refreshHelp-text {
    color: rgb(230, 230, 230);
    font-size: 12px;
    margin: 0;
    margin-left: 8px;
}

.header-login {
    display: block;
    display: none;
    margin: 0;
    position: fixed;
    opacity: 0;
    top: 64px;
    right: 64px;
}

.header-login-button {
    width: 42px;
    height: 42px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    margin-left: 16px;
}

.header-login-guestText {
    margin: 16px;
    margin-top: 12px;
    float: right;
}

.google,
.kakao,
.naver,
.steam,
.twitter {
    display: inline-block;
    background: url("/images/snslogin.png") no-repeat;
    width: 42px;
    height: 42px;
    margin-left: 8px;
}

.google {
    background-position: -1px -0px;
}

.kakao {
    background-position: -44px -0px;
}

.naver {
    background-position: -1px -43px;
}

.steam {
    background-position: -44px -43px;
}

.twitter {
    background-position: -1px -86px;
}

.guest {
    width: auto;
    height: auto;

    float: right;
    margin: auto;
    margin-top: 5px;
    font-size: 13px;
    padding: 6px;
}

#logoutButton {
    display: block;
    display: none;
    float: right;
    margin-right: 6px;
}

.header-loginInformation {
    display: inline-block;
    display: none;
    padding: 0;
    position: fixed;
    top: 64px;
    right: 64px;
    opacity: 0;
}

.header-loginInformation-profileName {
    font-size: 17px;
    display: inline-block;
    margin: 0;
    top: 2px;
    right: 6px;
    position: relative;
}

.header-loginInformation-profileImage {
    margin-left: 6px;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    float: right;
}

.header-loginInformation-profileProvider {
    font-size: 11px;
    display: inline-block;
    margin: 0;
    top: 2px;
    right: 6px;
    position: relative;
    margin-left: 6px;
}

.header-loginInformation-profileCredit {
    display: flex;
    margin-top: 2px;
}

.header-loginInformation-profileCredit-icon {
    color: white;
    font-size: 13px;
    display: inline-block;
    margin-right: 6px;
}

.header-loginInformation-profileCredit-text {
    font-size: 11px;
    display: inline-block;
    margin: 0;
    top: 2px;
    right: 6px;
    position: relative;
    margin-left: 6px;
}

.header-loginInformation-logout {
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
    margin: 12px;
    float: right;
}

.roomListContainer {
    /* position: fixed; */
    /* min-width: 1100px; */
    max-height: 242px;
    width: auto;
    height: 242px;
    position: absolute;
    display: inline-table;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.roomItem {
    width: 50vh;
    height: 50vh;
    max-width: 212px;
    max-height: 242px;
    border-radius: 16px;
    margin-right: 24px;
    margin-bottom: 12px;
    background-color: rgba(200, 200, 200, 0.2);
    /* box-shadow: 0px 0px 16px rgb(30, 30, 30) !important; */
    cursor: pointer;
    opacity: 0;
}

.roomItem-icon {
    width: 84px;
    height: 84px;
    position: absolute;
    top: -12px;
    left: -12px;
    border-radius: 12px;
    /* box-shadow: 0px 0px 6px white; */
}

.roomItem-title {
    height: auto;
    font-size: 17px;
    margin: 0;
    margin-top: 86px;
    width: 100%;
    color: white;
    text-shadow: 0px 0px 24px rgb(255, 255, 255);
    text-align: center;
}

.roomItem-desc {
    color: rgb(200, 200, 200);
    font-size: 13px;
    text-shadow: 0px 0px 12px rgba(50, 50, 50, 1);
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 16px;
    /* position: absolute; */
    /* text-align: center; */
}

.roomItem-currentPlaying {
    font-size: 11px;
    color: white;
    margin: 16px 12px 12px 12px;
    text-align: center;
    text-shadow: 0px 0px 12px rgb(50, 50, 50);
    word-wrap: break-word;
    font-family: 'Nanum Gothic', '맑은 고딕', 'sans-serif';
}

.roomItem-count {
    font-size: 17px;
    text-shadow: 0px 0px 12px rgba(50, 50, 50, 0.5);
    color: rgb(119, 186, 249);
    position: absolute;
    top: 16px;
    right: 16px;
}