/*
	ReguStreaming
	Copyright 2018. ReguMaster all rights reserved.
*/

.processBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 50;
    display: block;

    background-image: url("/images/msg.gif");
    background-size: 82px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba( 0, 0, 0, 0.3);
}

.discordRecommendModal {
    width: 450px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin: auto;

    background-color: rgba( 235, 235, 235, 1);
    display: block;
    border-radius: 10px;
}

.discordRecommendModalTitleBar {
    top: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: 42px;
    position: absolute;
    background-color: rgba( 73, 161, 255, 1);
}

.discordRecommendModalTitleText {
    margin: 12px;
    font-size: 15px;
    color: white;
    text-shadow: 0px 0px 12px rgba( 100, 100, 100, 0.7);
}

.discordRecommendModalClose {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.header-logo {
    position: fixed;
    top: 64px;
    left: 64px;
    cursor: pointer;
}

@keyframes headerServiceStatusInfo {
    0% {
        transform: scale( 1);
    }

    50% {
        box-shadow: 0px 0px 16px rgb( 56, 110, 156);
        transform: scale( 1.1);
    }

    100% {
        transform: scale( 1);
    }
}

@keyframes headerServiceStatusWarning {
    0% {
        transform: scale( 1);
    }

    50% {
        box-shadow: 0px 0px 16px rgb( 255, 141, 58);
        transform: scale( 1.1);
    }

    100% {
        transform: scale( 1);
    }
}

@keyframes headerServiceStatusDanger {
    0% {
        transform: scale( 1);
    }

    50% {
        box-shadow: 0px 0px 16px rgb( 202, 64, 61);
        transform: scale( 1.1);
    }

    100% {
        transform: scale( 1);
    }
}

.header-serviceStatus {
    position: fixed;
    width: 32px;
    height: 32px;
    top: 68px;
    left: 290px;
    cursor: pointer;
    border-radius: 50%;
    /* animation-iteration-count: infinite;
    animation-direction: alternate;
    animation: serviceStatusIconAnimate 1s infinite; */
}

.header-serviceNotification {
    position: fixed;
    width: 350px;
    top: 116px;
    left: 290px;
    border-radius: 12px;
    background-color: rgba( 235, 235, 255, 1);
    z-index: 10;
    display: none;
}

.header-serviceStatusFloating {
    width: 100%;
    height: 32px;
    background-color: rgb( 255, 58, 58);
    position: fixed;
    top: 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}

.header-serviceStatusFloating-message {
    font-size: 13px;
    margin: 0;
    margin-left: 8px;
    color: white;
    display: inline-block;
}

@keyframes serviceNotificationFadeIn {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes serviceNotificationFadeOut {
    20% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -35px, 0);
        transform: translate3d(0, -35px, 0);
    }
}

.header-serviceNotification-item {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.header-serviceNotification-item-title {
    font-size: 13px;
    padding: 8px;
    padding-left: 12px;
    margin: 0;
    background-color: rgba( 255, 141, 58);

    /* border-top-left-radius: 12px;
    border-top-right-radius: 12px; */
}

.header-serviceNotification-item-message {
    font-size: 13px;
    color: rgb( 25, 25, 25);
    padding: 12px;
    margin: 0;
}

.footer {}

.footerTitle {
    position: absolute;
    font-size: 13px;
    left: 0;
    right: 0;
    bottom: 12px;
    text-align: center;
    color: rgb( 235, 235, 235);
}

.footerCommunityDiscord {
    width: 36px;
    height: 36px;
    left: 12px;
    bottom: 12px;
    position: fixed;
    cursor: pointer;
    z-index: 1;
}

.footerCommunityGithub {
    width: 36px;
    height: 36px;
    left: 12px;
    bottom: 12px;
    position: fixed;
    cursor: pointer;
    z-index: 1;
}

.roomListContainer-loginRequired {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    display: none;
}

.roomListContainer-loginRequired-icon {
    top: 0;
    bottom: 82px;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

.roomListContainer-loginRequired-text {
    font-size: 17px;
    color: white;
    top: 16px;
    bottom: 0;
    position: absolute;
    margin: auto;
    text-align: center;
    text-shadow: 0px 0px 12px rgba( 0, 0, 0, 1);
    width: 100%;
    height: 24px;
}

.header-login {
    display: block;
    display: none;
    margin: 0;
    position: fixed;
    opacity: 0;
    top: 64px;
    right: 64px;
}

.header-login-button {
    width: 42px;
    height: 42px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    margin-left: 16px;
}

.header-login-guestText {
    margin: 16px;
    margin-top: 12px;
    float: right;
}

.google,
.kakao,
.naver,
.steam,
.twitter {
    display: inline-block;
    background: url("/images/snslogin.png") no-repeat;
    width: 42px;
    height: 42px;
    margin-left: 8px;
}

.google {
    background-position: -1px -0px;
}

.kakao {
    background-position: -44px -0px;
}

.naver {
    background-position: -1px -43px;
}

.steam {
    background-position: -44px -43px;
}

.twitter {
    background-position: -1px -86px;
}

.guest {
    width: auto;
    height: auto;

    float: right;
    margin: auto;
    margin-top: 5px;
    font-size: 13px;
    padding: 6px;
}

#logoutButton {
    display: block;
    display: none;
    float: right;
    margin-right: 6px;
}

.header-loginInformation {
    display: inline-block;
    display: none;
    padding: 0;
    position: fixed;
    top: 64px;
    right: 64px;
    opacity: 0;
}

.header-loginInformation-profileName {
    font-size: 17px;
    display: inline-block;
    margin: 0;
    top: 2px;
    right: 6px;
    position: relative;
}

.header-loginInformation-profileImage {
    margin-left: 6px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.header-loginInformation-profileProvider {
    font-size: 11px;
    display: inline-block;
    margin: 0;
    top: 2px;
    right: 6px;
    position: relative;
    margin-left: 6px;
}

.header-loginInformation-logout {
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
    margin: 12px;
}

.roomListContainer {
    /* position: fixed; */
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.roomList {}

.roomChild {
    width: 100%;
    height: 72px;
    border-radius: 16px;
    margin-bottom: 12px;
    background-color: rgba( 200, 200, 200, 0.2);
    cursor: pointer;
}


.roomChildTitle {
    height: auto;
    /* padding: 12px; */
    font-size: 17px;
    top: 5px;
    margin: 0;
    margin-left: 24px;
    margin-top: 12px;
    width: auto;
    color: white;
    text-shadow: 0px 0px 16px rgb(32, 255, 181);
    display: inline-block;
}

.roomChildTitleSmall {
    height: auto;
    padding: 12px;
    font-size: 12px;

    color: white;
    display: inline-block;

    margin-left: -10px;
    padding-left: 0px;
    padding-top: 21px;
}

.roomChildDesc {
    padding: 0;
    font-size: 13px;
    color: white;
    text-shadow: 0px 0px 12px rgba( 50, 50, 50, 1);
    margin-top: 8px;
    margin-left: 24px;
    position: absolute;
    height: auto;
}

.roomChildCurrentPlaying {
    padding: 0;
    font-size: 11px;
    color: white;
    top: 0;
    left: 35%;
    text-shadow: 0px 0px 12px rgba( 50, 50, 50, 1);
    font-family: 'Nanum Gothic', '맑은 고딕', 'sans-serif';
    margin-top: 28px;
    margin-left: 24px;
    max-width: 55%;
    position: absolute;
    height: auto;

    /* http://juve.tistory.com/119 */
    padding-left: 4em;
    text-indent: -4em;
}

.roomChildCount {
    padding: 0;

    font-size: 15px;
    text-shadow: 0px 0px 12px rgba( 50, 50, 50, 0.5);

    color: rgb( 119, 206, 249);

    float: right;
    margin: 0 auto;
    margin-top: 28px;
    margin-right: 20px;
}

#roomChildConnectButton {
    height: auto;
    width: 100px;
    padding: 8px;
    font-size: 15px;
    float: right;
    margin: 16px;
    margin-right: 16px;
}